/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
*/

@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700|Karla);

#main_content {
  margin-top: 60px;
  font-family: 'Nunito', sans-serif;
}

input[type='text'], input[type='password'], textarea {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

.categories th {
  background-color: #EAF1FB;
}

.center {
  text-align: center;
}

.ad {
  padding: 10px;
  font-size: 13px;
  padding-top: 3px;
}

.ad > a {
  font-size: 15px;
}

.ad_date {
  font-size: 16px;
  text-align: center;
  background-color: #EAF1FB;
  padding: 10px;
}

.light {
  color: #aaa;
  font-size: 12px;
}

.label-success-light {
  color: #36F;
  background-color: #eef;
  text-shadow: none;
  opacity: .7;

}

.label-success-light:hover {
  color: #36F;
  opacity: 1;
}

.divider {
  margin-left: 8px;
  margin-right: 8px;
  color: #999;
}
